.feature-panel {
  .editable-click {
    color: inherit;
    font-style: inherit;
  }

  .editable-wrap {
    display: inherit;
  }

  .md-subheader-inner {
    padding-left: 0;

    .feature-title {
      margin-top: 0;
    }
  }
}
