.md-subheader--closer-to-children .md-subheader-inner {
    padding-bottom: 0;
}

.md-checkbox--list, .md-checkbox--list:last-of-type {
	margin: 0 0 0 8px;
}

.md-subheader.closer-to-children + md-radio-group md-radio-button {
  margin-left: 9px;
  &:first-child {
    margin-top: 8px;
  }
}
