<md-sidenav class="md-sidenav-right md-whiteframe-z2 feature-panel" md-component-id="feature-panel">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools"
      editable-text="vmPanel.featureData.title"
      onbeforesave="vmPanel.saveFeatureData($data)">
        {{ vmPanel.featureData.title || "Untitled feature" }}
    </h1>
  </md-toolbar>
  <md-content layout-padding layout="column">
    <section class="read-only-data" layout-margin>
      <section layout="row">
        <div flex="50" class="heading">Feature type</div>
        <div flex="50">{{ vmPanel.readOnlyData.featureType }}</div>
      </section>

      <section layout="row" ng-show="vmPanel.readOnlyData.area">
        <div flex="50" class="heading">Area</div>
        <div flex="50" ng-bind-html="vmPanel.readOnlyData.area | formatArea"></div>
      </section>

      <section layout="row" ng-show="vmPanel.readOnlyData.length">
        <div flex="50" class="heading">Length</div>
        <div flex="50" ng-bind-html="vmPanel.readOnlyData.length | formatLength"></div>
      </section>

      <section layout="row" ng-show="vmPanel.readOnlyData.featureProperties.inspireid">
        <div flex="50" class="heading">Inspire ID</div>
        <div flex="50" ng-bind="vmPanel.readOnlyData.featureProperties.inspireid"></div>
      </section>

      <section layout="row" ng-show="vmPanel.readOnlyData.featureProperties.inspireid">
        <div flex="50"></div>
        <div flex="50">
          <form type="POST" target="_blank" action="{{ ENV.landRegistryFormUrl }}">
            <input type="hidden" name="enquiryType" value="lrInspireId">
            <input type="hidden" name="polygonId" value="{{ vmPanel.readOnlyData.featureProperties.inspireid }}">
            <md-button class="md-raised lr-button" type="submit">View LR</md-button>
          </form>
        </div>
      </section>
    </section>

    <form name="attributeForm" ng-submit="vmPanel.saveFeatureData()">
      <section layout="row">
        <md-subheader class="md-primary md-subheader--closer-to-children">
          <h2 class="md-title feature-title">Project tags</h2>

          <md-chips
            ng-model="vmPanel.featureData.tags"
            md-on-add="vmPanel.saveFeatureData()"
            md-on-remove="vmPanel.saveFeatureData()"
            md-require-match="true">
            <md-autocomplete
              md-selected-item="vmPanel.selectedItem"
              md-search-text="vmPanel.searchText"
              md-items="item in vmPanel.performTagSearch(vmPanel.searchText)"
              md-item-text="item.displayText"
              placeholder="Search for a project tag">
              <span md-highlight-text="vmPanel.searchText">{{ item.displayText }}</span>
            </md-autocomplete>

            <md-chip-template>
              <span>
                <strong>{{ $chip.displayText }}</strong>
              </span>
            </md-chip-template>
          </md-chips>
        </md-subheader>
      </section>

      <section layout="row" layout-align="space-between center">
        <md-subheader class="md-primary md-subheader--closer-to-children">
          <h2 class="md-title feature-title">Attributes</h2>
        </md-subheader>

        <md-button class="md-icon-button add-feature-attribute" aria-label="Add attribute" ng-click="vmPanel.addAttribute()">
          <i class="fa fa-plus-circle fa-2x map-drawing-tool__icon"></i>
        </md-button>
      </section>

      <section layout="row" ng-repeat="attribute in vmPanel.featureData.attributes">
        <md-input-container>
          <label>Attribute name</label>
          <input type="text" name="attributeName[]" ng-model="attribute.name" required>

          <div ng-messages="attributeForm.attributeName.$error" md-auto-hide="true">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Attribute value</label>
          <textarea type="text" name="attributeValue[]" ng-model="attribute.value" required></textarea>

          <div ng-messages="attributeForm.attributeValue.$error" md-auto-hide="true">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
      </section>

      <section layout="row" layout-align="center center">
        <md-button class="md-raised md-primary md-hue-2" type="submit">Save</md-button>
      </section>

      <section layout="row" layout-align="center center">
        <p class="md-caption auto-save" ng-show="vmPanel.lastSaveTime">Saved at {{ vmPanel.lastSaveTime | date:"mediumTime" }}</p>
      </section>

      <section layout="row" layout-align="center center">
        <md-button class="md-raised md-warn md-hue-2" ng-click="vmPanel.removeFeature()">Remove feature</md-button>
      </section>
    </form>
  </md-content>
</md-sidenav>
