<md-sidenav class="md-sidenav-right md-whiteframe-z2 feature-panel" md-component-id="feature-panel">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools"
      editable-text="vmPanel.featureData.title"
      onaftersave="vmPanel.saveFeatureData()">
        {{ vmPanel.featureData.title || "Untitled feature" }}
    </h1>
  </md-toolbar>
  <md-content layout-padding layout="column">
    <form name="attributeForm" ng-submit="vmPanel.saveFeatureData()">
      <section layout="row" layout-align="space-between center">
        <md-subheader class="md-primary md-subheader--closer-to-children">
          <h2 class="md-title feature-title">Attributes</h2>
        </md-subheader>

        <md-button class="md-icon-button add-feature-attribute" aria-label="Add attribute" ng-click="vmPanel.addAttribute()">
          <i class="fa fa-plus-circle fa-2x map-drawing-tool__icon"></i>
        </md-button>
      </section>

      <section layout="row" ng-repeat="attribute in vmPanel.featureData.attributes">
        <md-input-container>
          <label>Attribute name</label>
          <input type="text" name="attributeName[]" ng-model="attribute.name" required>

          <div ng-messages="attributeForm.attributeName.$error" md-auto-hide="true">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Attribute value</label>
          <textarea type="text" name="attributeValue[]" ng-model="attribute.value" required></textarea>

          <div ng-messages="attributeForm.attributeValue.$error" md-auto-hide="true">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
      </section>

      <section layout="row" layout-align="center center">
        <md-button class="md-raised md-primary md-hue-2" type="submit">Save</md-button>
      </section>

      <section layout="row" layout-align="center center">
        <p class="md-caption auto-save" ng-show="vmPanel.lastSaveTime">Saved at {{ vmPanel.lastSaveTime | date:"mediumTime" }}</p>
      </section>

      <section layout="row" layout-align="center center">
        <md-button class="md-raised md-warn md-hue-2" ng-click="vmPanel.removeFeature()">Remove feature</md-button>
      </section>
    </form>
  </md-content>
</md-sidenav>
