/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

.md-subheader.closer-to-children .md-subheader-inner {
    padding-bottom: 0;
}

.md-subheader.closer-to-children + md-radio-group md-radio-button {
  margin-left: 9px;
  &:first-child {
    margin-top: 8px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
