<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="layers-sidenav">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Layers</h1>
  </md-toolbar>
  <md-content layout-padding layout="column">
    <md-subheader class="md-primary md-subheader--closer-to-children">My Farm</md-subheader>
    <md-checkbox class="md-raised md-primary md-checkbox--list"
      ng-repeat="layer in vmSidenav.farmLayers track by $index"
      ng-disabled="layer.disabled"
      ng-model="layer.checked"
      ng-change="$emit('toggle-farm-layer', layer)">{{ layer.name }}
    </md-checkbox>

    <md-subheader class="md-primary md-subheader--closer-to-children">National Data</md-subheader>
    <md-checkbox class="md-raised md-primary md-checkbox--list"
      ng-repeat="layer in vmSidenav.nationalDataLayers track by $index"
      ng-disabled="layer.disabled"
      ng-model="layer.checked"
      ng-change="$emit('toggle-national-data-layer', layer)">{{ layer.name }}
    </md-checkbox>

    <md-subheader class="md-primary md-subheader--closer-to-children">My Layers</md-subheader>
    <md-checkbox class="md-raised md-primary md-checkbox--list"
      ng-repeat="layer in vmSidenav.drawingLayers track by $index"
      ng-disabled="layer.disabled"
      ng-model="layer.checked"
      ng-change="$emit('toggle-drawing-tool-layer', layer)">{{ layer.name }}
    </md-checkbox>

    <md-subheader class="md-primary md-subheader--closer-to-children">Environmental</md-subheader>
    <md-checkbox class="md-raised md-primary md-checkbox--list"
        ng-repeat="layer in vmSidenav.environmentalLayers"
        ng-disabled="layer.disabled"
        ng-model="layer.checked"
        ng-change="$emit('toggle-environmental-layer', layer)">{{ layer.name }}
    </md-checkbox>

    <md-subheader class="md-primary md-subheader--closer-to-children">Basemaps</md-subheader>
    <md-radio-group ng-model="vmSidenav.basemap" ng-change="$emit('toggle-basemap-layer', vmSidenav.basemap)">
      <md-radio-button
        ng-repeat="bm in vmSidenav.baseMapLayers"
        ng-disabled="bm.disabled"
        class="md-primary"
        ng-value="bm"
        ng-model="vmSidenav.basemap">{{bm.name}}
      </md-radio-button>
    </md-radio-group>
  </md-content>
</md-sidenav>
