<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="layers-sidenav">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Layers</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-subheader class="md-primary closer-to-children">My Farm</md-subheader>
    <md-checkbox class="md-raised md-primary"
      ng-repeat="layer in vmSidenav.farmLayers track by $index"
      ng-disabled="layer.disabled"
      ng-model="layer.checked"
      ng-change="vmSidenav.toggleFarmLayer(layer)">{{layer.name}}
    </md-checkbox>

    <md-subheader class="md-primary closer-to-children">Environmental</md-subheader>
    <md-checkbox class="md-raised md-primary"
        ng-repeat="layer in vmSidenav.environmentalLayers"
        ng-disabled="layer.disabled"
        ng-model="layer.checked"
        ng-change="vmSidenav.toggleEnvironmentalLayer(layer)">{{layer.name}}
    </md-checkbox>

    <md-subheader class="md-primary closer-to-children">Basemaps</md-subheader>
    <md-radio-group ng-model="vmSidenav.basemap" ng-change="vmSidenav.toggleBaseMapLayer()">
      <md-radio-button
        ng-repeat="bm in vmSidenav.baseMapLayers"
        ng-disabled="bm.disabled"
        class="md-primary"
        ng-value="bm">{{bm.name}}
      </md-radio-button>
    </md-radio-group>
  </md-content>
</md-sidenav>
