/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

@colour-primary: #439E64;

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    height: 100%;
    background-color: @colour-primary;
}

.logo {
	height: 48px;
	width: 48px;
	margin: 8px;
}

.logo--big {
	height: 96px;
	width: 96px;
}

.logo--big__text {
	margin-top: 0px;
	font-size: 120%;
}

.md-input-container--closer {
	margin: 0;
}

md-dialog-content {
  padding: 10px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
