<md-toolbar>
  <div class="md-toolbar-tools">
    <!--<md-button class="md-primary" aria-label="Toggle Menu" ng-click="toggleMenu()"><i class="fa fa-lg fa-bars"></i></md-button>-->
    <h2>
      <span>The Land App</span>
    </h2>

    <md-autocomplete
        md-selected-item="vmHeader.selectedItem"
        md-search-text-change="vmHeader.searchTextChange(vmHeader.searchText)"
        md-search-text="vmHeader.searchText"
        md-selected-item-change="vmHeader.selectedItemChange(item)"
        md-items="item in vmHeader.querySearch(vmHeader.searchText)"
        md-item-text="item.display_name"
        md-min-length="3"
        md-delay="500"
        placeholder="Search">

      <md-item-template>
        <span md-highlight-text="vmHeader.searchText" md-highlight-flags="gi">{{item.display_name}}</span>
      </md-item-template>
      <md-not-found>
        No addresses matching "{{vmHeader.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>

    <span flex>
    </span>

    <ul class='top-menu'>
      <!--<li><md-switch ng-click=""></md-switch></li>-->
      <li>
        <md-button class="md-primary narrow">
          <i class="fa fa-lg fa-share-square-o"></i>
          <md-tooltip>Share this map</md-tooltip>
        </md-button>

        <md-button class="md-primary narrow" ng-click="vmHeader.toggleLayersPanel()">
          <md-icon md-svg-src="assets/images/icons/layers_128.svg"></md-icon>
        </md-button>

        <md-button class="md-primary narrow" ng-click="indexVm.logout()">
          <i class="fa fa-lg fa-sign-out"></i>
          <md-tooltip>Log out {{indexVm.authData.password.email}}</md-tooltip>
        </md-button>
      </li>
    </ul>
  </div>
</md-toolbar>
