<md-toolbar class="app-header">
    <div class="md-toolbar-tools md-toolbar-tools--no-left-padding">
        <img src="assets/images/land-app-logo-transparent.png"
             class="logo" ng-click="$emit('la-fitExtent')"/>
        <h2>
          <span title="{{ENV | json}}">The&nbsp;Land&nbsp;App</span>
        </h2>
        <md-autocomplete md-selected-item="vmHeader.selectedItem" md-search-text-change="vmHeader.searchTextChange(vmHeader.searchText)" md-search-text="vmHeader.searchText" md-selected-item-change="vmHeader.selectedItemChange(item)" md-items="item in vmHeader.querySearch(vmHeader.searchText)" md-item-text="item.display_name" md-min-length="3" md-delay="500" placeholder="Search">
            <md-item-template>
                <span md-highlight-text="vmHeader.searchText" md-highlight-flags="gi">{{item.display_name}}</span>
            </md-item-template>
            <md-not-found>
                No addresses matching "{{vmHeader.searchText}}" were found.
            </md-not-found>
        </md-autocomplete>

        <span flex></span>

        <div layout-padding style="background: {{user.color}}; border-radius: 50%" ng-repeat="user in vmHeader.usersAccedingCurrentMap">
          {{user.initials}}
          <md-tooltip>{{user.watcher.email}}</md-tooltip>
        </div>

        <span flex></span>

        <div>
          <md-icon>person</md-icon>
          <md-tooltip>Map owner: {{vmHeader.mapOwner}}</md-tooltip>
        </div>

        <md-button class="md-icon-button" ng-if="indexVm.authData" ng-click="vmHeader.shareDialog()">
          <md-icon>share</md-icon>
          <md-tooltip>Share</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="vmHeader.toggleLayersPanel()">
          <md-icon>filter_none</md-icon>
          <md-tooltip>Layers</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="indexVm.logout()" ng-if="indexVm.authData">
          <md-icon>exit_to_app</md-icon>
          <md-tooltip md-direction="left">Log out ({{indexVm.authData.password.email}})</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="indexVm.login()" ng-if="!indexVm.authData">
          <md-icon>account_box</md-icon>
          <md-tooltip md-direction="left">Log in</md-tooltip>
        </md-button>

    </div>
</md-toolbar>
