<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Getting started</h2>
        <!--<span flex></span>-->
        <!--<md-button class="md-primary" ng-click="cancel()">-->
          <!--Close-->
        <!--</md-button>-->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-align="center">
        <h1 class="md-display-1 text--center">Welcome to the Land App</h1>
        <p class="text--center md-subhead">In just a few moments you can have your whole farm digitised and the possibilities will be endless</p>
        <div layout="column" layout-align="start center">
          <div layout="column" layout-align="center">
            <span class="md-body-2"><i class="material-icons md-18 icon__inline-with-text">check</i>Create your farm boundary using Land Registry data</span>
            <span class="md-body-2"><i class="material-icons md-18 icon__inline-with-text">check</i>Define your RPA areas</span>
            <span class="md-body-2"><i class="material-icons md-18 icon__inline-with-text">check</i>Add buildings, trees, pipes, and many more</span>
            <span class="md-body-2"><i class="material-icons md-18 icon__inline-with-text">check</i>Plan projects, diversify your land</span>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary md-raised" ng-click="continue()" style="margin-right:20px; margin-bottom:20px;">
        Okay, let me start drawing
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
