<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Getting started</h2>
        <!--<span flex></span>-->
        <!--<md-button class="md-primary" ng-click="vmDialog.cancel()">-->
          <!--Close-->
        <!--</md-button>-->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-align="center">
        <h1 class="md-display-1 text--center">Welcome to the Land App</h1>
        <p class="text--center md-subhead">In just a few moments you can have your whole farm digitised and the possibilities will be endless</p>
        <div layout="column" layout-align="start center">
          <div layout="column" layout-align="center">
            <span class="md-body-2"><md-icon>done</md-icon>Create your farm boundary using Land Registry data</span>
            <span class="md-body-2"><md-icon>done</md-icon>Define your RPA areas</span>
            <span class="md-body-2"><md-icon>done</md-icon>Add buildings, trees, pipes, and many more</span>
            <span class="md-body-2"><md-icon>done</md-icon>Plan projects, diversify your land</span>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-margin>
      <md-autocomplete flex="60"
        md-selected-item="vmDialog.selectedItem"
        md-search-text="vmDialog.searchText"
        md-selected-item-change="vmDialog.selectedItemChange(item)"
        md-items="item in vmDialog.querySearch(vmDialog.searchText)"
        md-item-text="item.display_name"
        md-min-length="3"
        md-delay="500"
        placeholder="Where's home?">
          <md-item-template>
              <span md-highlight-text="vmDialog.searchText" md-highlight-flags="gi">{{item.display_name}}</span>
          </md-item-template>
          <md-not-found>
              No addresses matching "{{vmDialog.searchText}}" were found.
          </md-not-found>
      </md-autocomplete>

      <md-button flex="40" class="md-primary md-raised" ng-click="vmDialog.continueMapping()" ng-disabled="!vmDialog.selectedItem">
        Let's get mapping
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
